


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

.profile-picture {
    width: 200px;
    height: 200px;
    object-fit: cover; /* this will cover the area, potentially cropping the image */
    border-radius: 50%;
}

#about-me {
    background: #e2e2e2;
    padding: 1rem;
    margin: 1rem 0;
}

#about-me img {
    float: left;
    margin-right: 20px;
    border-radius: 50%;
}

#demo-table table {
    width: 100%;
    margin-top: 1rem;
    border-collapse: collapse;
}

#demo-table th, #demo-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#demo-table th {
    background-color: #333;
    color: white;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

